* {
  box-sizing: border-box;
}

#pixelPainter {
  display: flex;
}
#leftPanel {
  /* border: 1px solid orange; */
  margin: 10px auto;
  display: flex;
  flex-flow: column wrap;
  /* justify-content: space-between; */
  justify-content: flex-start;
  padding: 5px;
  align-items: center;
}
#canvas {
  display: flex;
  flex-flow: column wrap;
  border: 2px solid black;
  /* width: 300px; */
  /* height: 300px; */
  margin: auto;
  background-color: white;
}
.box {
  width: 10px;
  height: 10px;
  border: 1px solid lightgray;
  /* background-color: white; */
  justify-content: flex-start;
  align-content: flex-start;
  flex: 0 2 auto;
}

.smBox {
  width: 30px;
  height: 30px;
  /* border: 1px solid black; */
}

.row {
  display: flex;
  flex-flow: row nowrap;
  /* border: thin solid green; */
  /* width: auto; */
}
button {
  width: 50px;
  height: 30px;
  justify-items: center;
  text-align: center;
  margin: 5px;
  border-radius: 0.6em;
}
#colorBoxPanel {
  /* border: 1px solid black; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-self: stretch;
  margin: 5px;
}
#paintBoxRow {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-self: stretch;
  margin: 5px;
}
#paintBox {
  background-color: black;
  border: 1px solid black;
}
#palette {
  border: 1px solid black;
}
